.button, .tool-bar {
    -fx-padding: 7;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-spacing: 3;
    -fx-border-radius: 18;
}

.button:hover {
    -fx-border-color: gray;
}

.text-field {
    -fx-border-radius: 18;
    -fx-background-radius: 18;
    -fx-background-color: white;
    -fx-border-color: transparent;
}

.text-field:focused {
    -fx-border-color: gray;
    -fx-border-width: 1;
}

.check-box {
    -fx-border-radius: 0;
}

.tooltip {
    -fx-border-radius: 18;
    -fx-background-radius: 18;
}

.choice-box {
    -fx-background-image: url("arrow-down2.png");
    -fx-background-insets: 0.0 -8.0 0.0 0.0;
    -fx-background-color: gainsboro;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-border-radius: 18;
    -fx-background-radius: 18;
}

.choice-box .arrow {
    -fx-background-color: transparent;
}

.combo-box-base {
    -fx-background-color: transparent;
}

.combo-box-base > .arrow-button {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.combo-box-base > .arrow-button > .arrow {
    /*-fx-background-color: transparent;*/
}
